<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title> VueJS Tutorials</title>
        <link href = "styles.css" rel = "stylesheet"/>
        <script src = "https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <div id = "app">
            <!-- calles the greet function-->
            <h1>{{ greet1() }}</h1>
            <h1>{{ greet2("Youre really ugly") }}</h1>
            <p> {{ name }} </p>
            <p>{{ sentence() }}</p>
            <p>Job: {{ job }}</p>
            <a v-bind:href = "website"> Twitter Link</a>
            <input type ="text" v-bind:value = "job"/>
            <p v-html= "websiteTag"></p>
            <!-- Fires off code directly in parentheses-->
            <button v-on:click="age++">Age++</button>
            <button v-on:click = "age--">Age--</button>
            <!--Calls methods named add and minus in app.js file -->
            <!-- Event modifier .once attached to end of event listener click for add(1)-->
            <button v-on:click.once="add(1)">Add a year</button>
            <button v-on:click = "minus(1)">Subtract a Year</button>
            <button v-on:dblclick="add(10)">Add a year</button>
            <button v-on:dblclick = "minus(10)">Subtract a Year</button>
            <p> My age is {{age}}</p>

            <div id ="canvas" v-on:mousemove = "updateXY">
                {{x}}, {{y}}
            </div>

            <a v-on:click.prevent = "click" href = "https:twitter.com">Twitter Link</a>

            <h1>Keyboard Events</h1>
            <!-- Added event modifier .enter that makes method only run when enter is pressed -->
            <!-- Two way data-binding using v-model and updates the values name and age with whatever is being typed in text field-->
            <label>Name:</label>
            <input type = "text" v-model = "name">
            <span>{{name}}</span>
            <label>Age:</label>
            <input type = "text" v-model = "age">
            <span>{{age}}</span>

            <!-- Computed properties only run when needed when their variables are changed-->
            <!-- Calling a computed property is the same as calling method except instead of addToC() its addToC-->
            <h1>Computed Properties</h1>
            <button v-on:click = "c++">Add to C</button>
            <button v-on:click = "d++">Add to D</button>
            <p>C - {{c}}</p>
            <p>D - {{d}}</p>
            <p>Age + C = {{addToC}}</p>
            <p>Age + D = {{addToD}}</p>

            <h1>Dynamic CSS Classes</h1>
            <h2>Example 1</h2>
            <div v-on:click = "available = !available" v-bind:class="{available: available}">
                <span>Ryu</span>
            </div>
            <h2>Example 2</h2>
            <button v-on:click="nearby = !nearby">Toggle Nearby</button>
            <button v-on:Click= "available = !available">Toggle Available</button>
            <div v-bind:class="compClasses">
                <span>Ryu</span>
            </div>

            <h1>Conditionals</h1>
            <button v-on:click = "error = !error">Toggle Error</button>
            <button v-on:click = "success = !success">Toggle Success</button>
            <!-- checks error variable and if true, then show <p> tag -->
            <p v-if="error">There has been an error</p>
            <p v-else-if="success">Yay, success</p>
            
            <!-- v-show does not remove element from dom but gives it a style of display:none -->
            <p v-show ="error">There has been an error</p>
            <p v-show ="success">Success </p>

            <h1>Loop with v-for</h1>
            <ul>
                <li v-for="character in characters">{{character}}</li>
            </ul>
            <ul>
                <li v-for = "(ninja, index) in ninjas">{{index}}. {{ninja.name}} - {{ninja.age}}</li>
            </ul>

            <!-- the for loop will recognize the tag of template and only out whats INSIDE the template tags-->
            <template v-for = "(ninja, index) in ninjas">
                <h3> {{index}} - {{ninja.name}}</h3>
                <p> {{ninja.age}}</p>
            </template>

            <!--  cycling through an array of objects and get each value and key pair-->
            <template v-for = "ninja in ninjas">
                <div v-for = "(val,key) in ninja">
                    <p> {{key}} - {{val}}</p>
                </div>
            </template>


        </div>
        <script src = "app.js"></script>
    </body>
</html>